# file extensions
*.o
*.d
*.so
*.efi
*.EFI
*.a
*.lib
*.img
*.elf
*.auto
*.auto.*

# directories
.vscode/
.cache/
build/
docs/
keys/
**/tmp/

# files
compile_commands.json

# mbuild specific files
scripts/mbuild/mbuild
scripts/mbuild/parser.h
scripts/mbuild/parser.c
scripts/mbuild/lexer.c