# file extensions
*.o
*.d
*.a
*.so
*.efi
*.EFI
*.lib
*.img
*.elf
*.auto
*.auto.*

# directories
.vscode/
.cache/
out/
keys/
**/tmp/

# files
compile_commands.json
tools/build/build

# mbuild specific files
scripts/kbuild/build
