menu "kernel"

menu "syscalls"

menu "debug"

config FORK_LOG_LEVEL
    int "Fork message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config EXIT_LOG_LEVEL
    int "Exit message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config WAIT_LOG_LEVEL
    int "Wait message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

endmenu

endmenu

endmenu
