menu "Memory configuration"

menu "Memblock"

endmenu

menu "Physmem allocator"

endmenu

menu "Debug"

config MEMBLOCK_LOG_LEVEL
    int "Memblock message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config PHYSMEM_LOG_LEVEL
    int "Physmem message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config VIRTMEM_LOG_LEVEL
    int "Virtmem message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config VMSPACE_LOG_LEVEL
    int "VmSpace message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

config MEMORY_LOG_LEVEL
    int "Memory message verbosity levels"
    range 0 4
    default 2
    help
        0 = none
        1 = errors only
        2 = errors and warnings
        3 = errors, warnings, and info
        4 = errors, warnings, info, and verbose info

endmenu

endmenu
